<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
  <div id="logoutDiv">
    <form action="#" method="POST" th:action="@{'/login'}">
      <button type="submit" class="btn btn-secondary float-right" value="Logout">Logout</button>
    </form>
  </div>
  <div id="contentDiv" style="clear: right;">
    <nav style="clear: right;">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
        <a class="nav-item nav-link" id="nav-notes-tab" href="http://localhost:8080/notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
        <a class="nav-item nav-link" id="nav-credentials-tab" href="http://localhost:8080/credentials" aria-selected="false">Credentials</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
        <h1>You're seeing this page because something went wrong. We're sorry for that :(</h1>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
